<%= form_for (@project) do |f| %>

<div class="field">
    <%# <%= f.label :name, placeholder: "Name" %>
    <%= f.text_field :name %>

  </div><br>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
<br>
