<div class="container">
    <div class="col-md-8">
      <div class="projects-main">


        <button class="btn btn-secondary" type="button"><%= link_to "LOAD PROJECTS", projects_path, :class => "projects-index" %></button><br>

      </div>
    </div>
    <%= render 'form' %>
  </div> %>
